<html>
<body>
<p><h2> MySpace oAuth Delegated Access Demo (also known as the "3-legged scenario" in oAuth lingo) </h2></p>
<p>This application demonstrates a typical end-user interaction between an OAuth enabled Consumer (this website) and a Service Provider (MySpace)</p>
<p>The profile and friends information is fetched using the <a href='http://developer.myspace.com/community/myspace/da.aspx'>MySpaceID REST API</a> and is used only for display purposes and is NOT stored in any way by the demo app</p>
<p><h3><%= link_to("Click here to begin", :action => :start_auth) %></h3></p>
</body>
</html>
